* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Space Mono", monospace;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
::selection {
  background-color: rgb(127, 0, 0);
}
#headshot {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-size: 36px;
  margin-bottom: 0.75rem;
}

#links ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

#links img {
  width: 28px;
  height: 28px;
  filter: invert(100%);
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

#links img:hover {
  transform: scale(1.1);
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info {
    align-items: center;
  }

  #headshot {
    display: none;
  }
}
