* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Space Mono", monospace;
  background-color: rgb(12, 3, 10);
  color: red;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 0.75rem red);
  }
  to {
    filter: drop-shadow(0 0 1rem red);
  }
}
::selection {
  background-color: rgb(127, 0, 0);
}
#links {
  margin-top: 7px;
}
#links ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
#links img {
  width: 26px;
  height: 26px;
  filter: invert(13%) sepia(92%) saturate(7414%) hue-rotate(4deg)
    brightness(99%) contrast(115%);
}
#links img:hover {
  filter: invert(10%) sepia(54%) saturate(5160%) hue-rotate(355deg)
    brightness(103%) contrast(118%);
}
